@each $margin in -4,-2,-1,0,1,2,3,4,5,6,7,8{
	@each $direction in top,left,bottom,right{
		.margin-#{$direction}-#{$margin}{
			margin-#{$direction}: #{$margin}vw !important;
		}
		.padding-#{$direction}-#{$margin}{
			padding-#{$direction}: #{$margin}vw !important;
		}
	}
}

.empty-image{
	min-height: 350px;
	width: 100%;
}


.cursor-pointer{
	cursor: pointer;
}
