@media only screen and (max-width: 600px){
	.first-page{	
		background-size: auto 100%;

		.main-page-sm{
			padding-top: 0vh !important;
			min-height : 40vh !important;
			padding-left: 10vw !important;
		}
		.introduction-sm{
			margin-top : 2vh !important;
		}

		.navigation-button{
			height: 80px;
			width:  80px;
			margin-left: 8vw;
			.icon{
				height: 50px;
				width: 50px;
			}
		}
	}
}
