#secondPage{
	font-size: 20px;
	color: white;
	.project-description{
			padding-top : 13vh;
		}

	.image-container{
		img{
			width: 100%;
		}	
		
	}

	.project-row{
		min-height: 300px;
		margin-left: 10px; 
		margin-top: 10vh;
	}


}
