@import 'animation';
$transition-time : 2s;
body{
	.side-footer{
		writing-mode: vertical-rl;
		text-orientation: mixed;
		font-size: 30px;
		padding-top : 10vh;
		padding-left : 125px;
		text-transform:uppercase;		
		min-height : 90vh;
	}

	.vertical-line-project:after{
		content : '';
		width : 5px;
		height : 90vh;
		background : black;
		position : absolute;
		left : 50%;
		top : 16px;
		animation: heightAnimation $transition-time;;
	}


	.contact-footer:after{
		content : '';
		width : 5px;
		height : 90vh;
		background : black;
		position : absolute;
		left : 36%;
		top : 26px;
		animation : heightAnimation $transition-time;;

	}


	.first-page{
		.navigation{
			li {
				font-size : 30px;
				text-transform : uppercase;
				list-style : none;	
				padding-top : 10vh;
			}
			li:hover{
				border-bottom: 2px solid #F117B4;
				font-weight :  thick;
				cursor : pointer;
			}
		}

		.main-page{
			padding-top : 10vh;
			padding-left : 30vh;
			padding-bottom : 10vh;
			padding-right: 10vh;
			min-height : 90vh;


			.introduction{
				text-transform : uppercase;
				.title{
					font-size :4em;
				}
				font-size : 30px;

			}
		}

		.main-page:after{
			content : '';
			width : 5px;
			height : 90vh;
			background : black;
			position : absolute;
			left : 36%;
			top : 26px;
			margin-left : 66%;
			margin-top : -4vh;
			animation : heightAnimation $transition-time;;

		}
	}
	.first-page:after{
		content : '';
		margin-left: 5vw;
		height:4px;
		width : 90vw;
		background:black;
		position:relative;;
		bottom:-10px;
		animation : widthAnimation $transition-time;;
	}

	.second-page:after{
		content : '';
		width:90vw;
		margin-left: 5vw;
		height:4px;
		background:black;
		position:relative;;
		bottom:-21px;
		animation : widthAnimation $transition-time;
	}

	.second-page{
		opacity : 0;
		.project-description{
			padding-top : 13vh;
		}

	}

	.third-page{
		opacity : 0;
		.contact{
			padding:30vh;
			.custom-input{
				border-top : none;
				border-left : none;
				border-right : none;
				border-bottom : solid;
				margin-left : 14px;
			}
		}

	}

}
