$transition-time : 2s;
@import 'animation';
@import 'icons';
@import 'common';
@import 'contact';

@import 'first_page';
@import 'second-page';
@import 'third_page';

@import 'responsive';

body{	
	font-family : 'Raleway','san-serif';
	.side-footer{
		padding-left : 125px;
		text-transform:uppercase;		
		min-height : 90vh;
	}

	.contact-footer:after{
		opacity : 0.3;
		content : '';
		width : $line-width;
		height : 90vh;
		background : $line-color;
		position : absolute;
		left : 36%;
		top : 26px;
		animation : heightAnimation $transition-time;;

	}

}
